.MyPosts {
    width: 100%;
    margin: 30px 0;
}

.form {
    display: flex;
    justify-content: space-between;
}

input {
    width: 80%;
    height: 30px;
    margin: 0 20px 20px 0;
    border: none;
    outline: none;
    padding: 0 10px;
    border-radius: 5px;
}

input::placeholder {
    font-style: italic;
}

.PostBtn {
    cursor: pointer;
    width: 15%;
    height: 30px;
    border: none;
    border-radius: 5px;
    transition: all .1s ease-in;
}

.PostBtn:hover {
    background-color: #fff;
    box-shadow: 0px 0px 4px rgba(255, 255, 255, 0.8);
}