ol,
ul,
li {
  list-style: none;
  padding: 0;
  margin: 0;
}

.container {
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
}

a {
  text-decoration: none;
}

.main-page {
  display: grid;
  position: relative;
  grid-template-rows: 100px 1fr;
  grid-template-columns: 3fr 9fr;
  grid-template-areas:
    "headerTop headerTop"
    "sidebar profile";
  grid-gap: 10px;
  height: 100vh;
  margin: 10px 0;
}

.app-wrapper-content {
  grid-area: profile;
  background-color: rgba(0, 0, 0, 0.4);
  padding: 20px;
  border-radius: 5px;
}