.wrapper {
    display: flex;
    gap: 5px;
}

.dialogs {
    flex: 1;
}

.messageCol {
    flex: 3;
    margin-left: 10px;
}

.message {
    height: 100%;
    max-height: 300px;
    overflow-y: scroll;
    flex: 3;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 5px;
    padding: 10px;
}

.messageItem {
    margin-bottom: 25px;
}

.myMessageItem {
    margin-bottom: 25px;
    margin-left: auto;
    text-align: right;
}

.text {
    padding: 10px;
    font-size: 12px;
    max-width: 60%;
    border-radius: 5px;
    /* border: 1px solid rgba(255, 255, 255, 0.5); */
    background-color: rgba(0, 0, 0, 0.3);
}

.form {
    text-align: right;
}

.textArea {
    width: 100%;
    height: 50px;
    margin: 10px 0 0 0;
    border-radius: 5px;
    padding: 5px;
    border: 0;
    outline: none;
}

.button {
    padding: 5px 20px;
    margin-top: 5px;
    border: 0;
    border-radius: 5px;
}

.item {
    color: #fff;
    background-color: rgba(0, 0, 0, 0.3);
    margin-bottom: 10px;
    text-align: center;
    border: 1px solid rgba(255, 255, 255, 0.514);
    border-radius: 5px;
    padding: 10px;
}

.item:last-child {
    margin-bottom: 0;
}

.activeLink {
    color: #f0932b;
    text-shadow: 0px 0px 8px rgba(255, 255, 255, 0.8);
    letter-spacing: 1px;
    transition: letter-spacing .2s ease-in-out;
}

